body {
  background-color: hsl(216, 12%, 8%);
  color: white;
  font-family: "Overpass", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: auto 0.5rem;
}

.container,
.thankyou {
  width: 33%;
  max-width: 350px;
  min-width: 325px;
  box-sizing: border-box;
  background-color: hsl(213, 19%, 18%);
  padding: 2rem;
  border-radius: 1.5rem;
}

.container p {
  color: hsl(217, 12%, 63%);
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ratings div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings div:hover {
  background-color: hsl(216, 12%, 54%);
}

.submit {
  width: 100%;
  border: none;
  border-radius: 100vh;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.selected {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.hidden {
  display: none;
}

.thankyou {
  text-align: center;
}
